
  body {
    background-color: red !important;
  }

        
body {
    background-color: #001f3f;
    font-family: Calibri, sans-serif;
    color: white; /* Better readability on dark background */
    margin: 0;
    padding: 0;
    text-align: center; /* Center align text */
    font-size: 18px;
    line-height: 1.6;
}

header {
    background-color: #001f3f;
    padding: 10px 20px;
    text-align: center;
    font-size: 31px; /* Consistent header size */
    text-shadow: 4px 4px 4px #566fbf; /* Enhanced blue shadow */
    color: #dce8fa;
}

nav {
    display: flex;
    justify-content: center;
    background: #1c345c;
    padding: 10px 0;
}

nav a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background: #4287f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.content {
    width: 70%;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: lighter;
}

.button {
    background-color: #ADD8E6;
    color: #001F3F;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #6092d1;
}

.box {
    background-color: #075a90; /* Slightly darker blue */
    padding: 20px;
    margin-top: 20px;
    width: 80%; /* Balanced width */
    border-radius: 8px;
}

.box p {
    color: white;
}

footer {
    background: #1c345c;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


